@import url('https://fonts.googleapis.com/css?family=Cabin|KoHo|Maven+Pro|Montserrat');

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Cabin', sans-serif; */
/* font-family: 'KoHo', sans-serif; */
/* font-family: 'Maven Pro', sans-serif; */

.navbar{
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Maven Pro', sans-serif;
    padding-bottom: 40px;
}

.welcome,
.about,
.portfolio,
.contact {
    padding-top: 40px;
    height: calc(100vh - 40px);
}

.welcome{
    background-image: url("../img/bg-bits.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio {
    background-color: #0F4BD6;
    color: white;
}

.project-container {
    width: 300px;
    height: 20vh;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: aqua;
}

.contact-links a {
    display: block;
    font-size: 54px;
    line-height: 54px;
    color: black !important; 
}

.footer {
    text-align: center;
    background-color: #000;
    border-top: 5px solid #0F4BD6;
    font-size: 12px;
    line-height: 24px;
    color:white;
    height: 40px;
    position: sticky;
    bottom: 0;
}